<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src <%= cspSource %>; script-src <%= cspSource %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= cssUri %>">
  <title>Welcome to OpenShift Connector Extension</title>
</head>

<body>
  <div class="section-div">
    <input type="checkbox" id="showWhenUsingExtension" <% if (checkboxValue) { %> checked <% } %>>
    <label for="showWhenUsingExtension">Show Welcome page when using OpenShift Connector Extension</label>
  </div>
  <div class="section-div">
    <div class="title-wrapper">
      <h2 class="title-header">OpenShift Connector for <%= appName %></h2>
      <% if (status) { %>
        <span class="preview"><%= status %></span>
      <% } %>
    </div>
    <p>Welcome! This extension provides tools to get you up and running with OpenShift or Kubernetes
    application development in <%= appName %>.</p>
    <p>You can create your first Component without cluster. The extension gives you access to many Starter Projects 
    for various languages and frameworks.</p>
  </div>

  <div class="section-div">
    <h2 class="section-title">Get started</h2>
    <p>
      <ul>
        <li><a href="command:openshift.component.createFromLocal">Create a new OpenShift Component</a></li>
        <li><a href="command:command:openshift.explorer.login">Login in to a Cluster</a></li>
        <li><a href="command:openshift.explorer.switchContext">Select Kubernetes Context</a></li>
        <li><a href="command:openshift.explorer.addCluster">Add a new OpenShift Cluster</a></li>
      </ul>
    </p>
  </div>

</body>
<script src="<%= jsUri %>"></script>
</html>